doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Don&apos;t Look Back
    link(rel="stylesheet", href="style.css")
  body
    audio(src="./music-freesound-josefpres.wav", autoplay, loop)
    #content 
      p You are in a game that is being deleted. As the orange line moves across the screen, the platforms below you will disappear. Do not be alarmed. Unless, that is, you start to fall, in which case you are probably doomed. Use WASD or the arrow keys to move. Collect blue dots to go faster.
      p Good luck. And whatever you do...
      h1#dontLookBack Don't Look Back.
      p Press SPACE to start.
    template#gameContainer
      canvas#game(width="640", height="480")
      p Score: 
        span#timer 0
      table
        tr
          th Your Speed
          th Deletion Speed
          th Distance Until Deletion
        tr
          td#yourspeed
          td#delspeed
          td#distance
    #gameEnd
    script(type="module", src="./main.ts")
