body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
td:not(:last-child), th:not(:last-child) {
    border-right: 1px solid white;
}
tr {
    padding: 0;
    margin: 0;
}
td, th {
    padding: 6px;
    margin: 0;
}
table {
    border-spacing: 0;
}
#preGame {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}